h2{
    color: rgba(5, 3, 4, 0.644);
    text-decoration: underline;
}
p{
    border: 2px solid rebeccapurple;
    background-color: aquamarine;
    padding: 10px;
    /* align-items: center; */
    text-align:justify;
    box-shadow: 5px 5px 5px ;

}
li{
    display: inline;
    border: 1px solid;
    padding: 5px;
    background-color: aqua;
    /* color: white; */
}